<h3>Order from Time is Meow has been sent</h3>
<p>
  This message show you that u recently sent order:
</p>
<table>
  <tr><th colspan="2">Quantity</th><th>Description</th></tr>
  <%= render @order.line_items -%>
</table>